<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<included>
    <contextName>${HOSTNAME}</contextName>
    <!--bind customization Log converter-->
    <conversionRule conversionWord="msg" converterClass="lerna.log.logback.converter.OneLineEventConverter" />
    <conversionRule conversionWord="xEx" converterClass="lerna.log.logback.converter.OneLineExtendedStackTraceConverter" />

    <property name="msg_format" value="%date{yyyy-MM-dd.HH:mm:ss.SSS}\t%contextName\t%level\t%logger\t%X{sourceThread:--}\t%X{akkaSource:--}\t%X{traceId:--}\t%X{tenantId:--}\t%msg\t%xEx%nopex%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${msg_format}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${reactive.logs_dir:-/apl/var/log/payment-app/}/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${reactive.logs_dir:-/apl/var/log/payment-app/}/application.log-%d{yyyy-MM-dd}.log.gz
            </fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${msg_format}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_PER_TENANT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator >
            <key>tenantId</key>
            <defaultValue>system</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${tenantId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!-- print out log file into project root directory-->
                <file>${reactive.logs_dir:-/apl/var/log/payment-app/}/application-${tenantId}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${reactive.logs_dir:-/apl/var/log/payment-app/}/application-${tenantId}.log-%d{yyyy-MM-dd}.log.gz
                    </fileNamePattern>
                    <maxHistory>2</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>${msg_format}</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <logger name="akka" level="info"/>
    <logger name="slick" level="info"/>

    <!--<logger name="slick.jdbc.JdbcBackend.statement" level=""/>-->
    <!--<logger name="slick.jdbc.JdbcBackend.parameter" level=""/>-->
    <!--<logger name="slick.jdbc.StatementInvoker.result" level=""/>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_PER_TENANT"/>
    </root>
</included>

